@font-face {
  font-family: "Brushed Traveler";
  src: url(fonts/brushed_traveler.ttf) format("truetype");
}
@font-face {
  font-family: "Easycore";
  src: url(fonts/easycore.ttf) format("truetype");
}
@font-face {
  font-family: "Edition";
  src: url(fonts/edition.tff) format("truetype");
}
@font-face {
  font-family: "Friday Lovers";
  src: url(fonts/friday_lovers.otf) format("opentype");
}
@font-face {
  font-family: "La Maison de Papier";
  src: url(fonts/la_maison_de_papier.ttf) format("truetype");
}

html, body {
  background: #000000;
  padding: 0;
  margin: 0;
  color: #ffffff;
}
a {
 color: inherit;
 text-decoration: none;
}
#nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  z-index: 100;
}
#nav #young_jimmy_logo {
  display: block;
  margin: 0 auto;  
  height: 80px;
  z-index: 105;
}

.video_main {
 position: relative;
 color: #feef00;
 border: 0;
 width: 100%;
 top: 0;
 left: 0;
}

.spacer {
  height: 100px;
}
.band {
  position: relative;
}

.album_title {
  font-size: 60pt;
  color: #ffffff;
  z-index: 2;
  text-align: center;
  margin-bottom: 10px;
}
.album_the_movies {
  font-size: 60pt;
  font-family: "La Maison de Papier", Edition, Easycore, arial;
}
.album_date_night {
  font-size: 70pt;
  font-family: Easycore, Edition, arial;
}
.album_hood_rock_2 {
  font-size: 60pt;
  font-family: Edition, arial;
}
.album_hood_rock {
  font-size: 40pt;
  font-family: Charcoal, Impact, Sans-Serif;
}
.album_uptown_gun_sounds {
  font-size: 26pt;
  font-family: "Brushed Traveler", arial;
}

.two-col {
 font-family: arial;
 font-size: 24px;
 line-height: 1.5em;
}
.two-col .album_title {
 font-family:  verdana, tahoma arial;
 font-size: 24px;
}
.album_date_night .album_title {
 font-family:  verdana, tahoma arial;
} 

.album_artist {
 color: #feef00;
 font-family:  verdana, tahoma arial;
 font-size: 20px;
}
.album_label {
 font-family: verdana, tahoma, arial;
 font-size: 18px;
 color: #a0a0a0;
}
.album_date {
 font-family:  verdana, tahoma arial;
 font-size: 18px;
 font-weight: 600;
}
.alt_chars {
 font-family: verdana, tahoma arial;
 font-style: italic;
}

#footer {
  margin: 40px auto;
  font-family: 'Friday Lovers', arial;
  font-size: 12px;
  text-align: center;
  color: #a0a0a0;
}

.button {
 cursor: pointer;
 display: inline-block;
 vertical-align: middle;
 horizontal-align: center;
}
#button_play_pause {
 margin-left: 5px;
}


#song_title {
  display: inline-block;
  font-weight: 200;
  font-family:  Easycore, Edition, 'courier new', monospace;
  line-height: 20px;
  font-size: 18pt;
  text-align: center;
  vertical-align: top;
}
#song_art {
 height: 16px;
 margin-right: 10px;
 display: inline-block;
}

#nav {
  background-size: cover;
  background-repeat: no-repeat;
}

.caption {
 font-size: 14px;
 font-family: tahoma, verdana, helvetica;
 color: #a0a0a0;
 padding: 0 10px;
}


.table_tracks {
 font-family:  Easycore, Edition, arial;
 font-size: 24pt;
 color: #d0d0d0;
}
.table_tracks td {
  padding: 0 10px;
  border: 1px solid #333;
  border-collapse: collapse;
}
.table_tracks, .table_tracks tr, .table_tracks td, .table_tracks th {
   border-collapse: collapse;
}
.table_tracks tr:hover {
  background: #222;
}
.table_tracks tr:hover .button_itunes {
  background: #222;
  color: #d0d0d0;
}


.row_track {
 cursor: pointer;
}
.track {
  cursor: pointer;
  color: #aaa;
}
.playable {
  color: #ffffff;
}
.playable:hover, .table_tracks tr:hover .playable {
 color: #feef00;
}

.button_itunes_available {
  display:inline-block;
  width:120px;
}


@media all and (max-width: 899px) {
  #song_title {
	display: block;
	font-size: 24pt;
	margin-bottom: 8px;
  }
  #controls {
	position: relative;
	display: block;
	text-align: center;
	margin-top: 100px;
  }
  #controls .button {
	width: 32px;
	padding: 10px;
  }  
  #social_links {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
  }
  .social_link {
	display: inline-block;
	width: 30px;
	margin-right: 20px;
	vertical-align: middle;
  }

  .one-col, .three-col {
	width: 100%;
  }
  .two-col {
  }
  .two-col-1, .two-col-2 {
	display: block;
	max-width: 400px;
	text-align: center;
	margin: 0 auto;
	vertical-align: top;
	padding: 0;
	font-size: 16pt;
  }

  .table_tracks {
	width: 100%;
	max-width: 400px;
  }
  .two-col-1 .album_cover {
	padding: 0;
	margin:0;
	max-width: 300px;
	max-height: 300px;
  }  
  
  .three-col {
	position: relative;
    display: block;
	width: 100%;
  }
  .three-col-2 {
	width: 100%;
	margin: 0 auto;
	text-align: center;
  }
  .img_main {
	max-width: 384px;
	width: 100%;
  }
  #promo_image {	
	width: 100%;
  }
  .three-col-1,.three-col-3 {
	display: none;
  }
  #soundcloud_player_iframe {
	height: 20px; 
	width: 100%;
  }
  .video_main {
	height: 320px;
  }
}


@media all and (min-width: 900px) {
  #controls {
	position: fixed;
	right: 20px;
	top: 20px;
	z-index: 101;
  }
  #controls .button {
	width: 24px;
	padding: 0 4px;
  }

  #song_title  {
	margin-right: 20px;
  }

  #social_links {
	position: fixed;
	top: 15px;
	left: 10px;
	z-index: 101;
  }
  .social_link {
	display: inline-block;
	width: 30px;
	margin: 0 10px;
	vertical-align: middle;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }
  .social_link:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
  }
  
  #promo_image {	
	margin-top: 100px;
  }
  
  .one-col, .three-col {
	width: 900px;
  }
  .two-col {
	width: 710px;
  }
  .table_tracks {
    max-width: 400px;
  }
  
  .two-col-1, .two-col-2 {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	padding: 0;
	margin: 0 auto;
  }
 
  .two-col-1 { 
	font-size: 16pt;
	width: 300px;
  }
  .two-col-1 .album_cover {
	padding: 0;
	margin:0;
	width: 300px;
	height: 300px;
  }
  
  .two-col-2 {
	padding: 0 20px;
	width: 400px;
  }
  
  .three-col {
	vertical-align: center;
	font-family: 'Friday Lovers', arial;
	font-size: 22pt;
	line-height: 2.5em;
  }
  .three-col-1,.three-col-3 {
	vertical-align: top;
	display: inline-block;
	width: 250px;
	text-align: center;
	margin-top: 80px;
  }
  .three-col-2 {
	vertical-align: top;
	display: inline-block;
	width: 385px;
  }  
  .one-col, .two-col, .three-col {
	vertical-align: top;
	padding: 0;
	margin: 0 auto;
  }  
  .two-col-1, .two-col-2 {
	display: inline-block;
	vertical-align: top;
	padding: 0;
	margin: 0 auto;
  }
  .one-col #promo_image {
	width: 100%;
  }
  .img_main {
	display: block; 
	width: 384px;
	margin: 0 auto;
  }
  #soundcloud_player_iframe {
	height: 20px; 
	width: 100%;
  }

  .video_main {
	height: 480px;
  }
}

#modal_jaw {
  display: none;
  top: 0;
  left: 0;
  position: fixed;
  background-image: url('images/jaw-x-ray.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 200;
  text-align: right;
}
.button_close {
  font-size: 20pt;
  font-family: "Helvetica Neue","Segoe UI",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: 600;
  cursor: pointer;
  vertical-align: center;
}
.button_close:hover {
 color: #feef00;
}
#button_xray {
  cursor: pointer;
}
#button_xray:hover {
  color: #feef00;
  text-decoration: underline;
}
.button_itunes {
  font-family:  'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 1px solid #c0c0c0;
  color: #c0c0c0;
  padding: 4px 8px;
  border-radius: 4px;
  vertical-align: middle;
}

.button_itunes:hover {
  border: 1px solid white;
  color: white;
  z-index: 2;
}

#bio {
  color: #ffffff;
  max-width: 710px;
  width: 100%;
  font-family:  Edition, 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  margin: 0 auto;
}
#bio .text {
  padding: 10px;
}

.covers_grid {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 text-align: center;
}
.covers_grid img {
  flex-grow: 1;
  width: 300px;
}
.poster {
  width: 380px;
  margin: 0 auto;
  text-align: center;
}
.poster img {
  width: 380px;
}
